<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>All Tasks</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>All Tasks:</h1>
    <% tasks.forEach(task => { %>
     <h1><%= task.taskName %></h1>
     <h3>Due: <%= task.dueDate %></h3>
     <h3>Time Due: <%= task.dueTime %></h3>
     <p>
     <a href="/tasks/<%= task._id %>"><%= task.taskName %></a>
     </p>
    <% }) %>
</body>
</html>